/*
 * Dropdown
 */

:root {
  --z-index-dropdown: 1000;
  --color-light-grey: #dcdddf;
  --color-dark-grey: #454c5a;
}

.easygo-dropdown {
  position: relative;
}

/*
 * Dropdown: Chevron
 */
.easygo-button--dropdown-toggle:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

/*
 * Dropdown: Menu
 */
.easygo-dropown-menu {
  position: absolute;
  z-index: var(--z-index-dropdown);
  display: none;
  float: left;
  min-width: 14rem;
  padding: 1rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--color-light-grey);
  border-radius: .25rem;
  box-shadow: var(--elevation-1);
}

/*
 * Dropdown: Menu show/hide
 */
.easygo-dropown-menu.show {
  display: block;
  transform: translate(0px, 10px);
}

/*
 * Dropdown: Menu item
 */
.easygo-dropdown-menu-item {
  padding: 0 1rem;
  margin-bottom: 1rem;
  color: var(--color-dark-grey);
  font-family: var(--font-family-sans-serif);
  font-size: 1rem;
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.easygo-dropdown-menu-item:hover {
  cursor: pointer;
}

.easygo-dropdown-menu-item:last-of-type {
  margin-bottom: 0;
}

/*
 * Dropdown: Divider
 */
.easygo-dropdown-menu-item-divider {
  border-bottom: 1px solid var(--color-light-grey);
  width: 100%;
  margin: 1rem 0 1rem;
}
